.Logo {
  --speed: 300ms;
  --delay-base: 200ms;
  --animation-name: rotateFadeIn;

  user-select: none;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 38px;

  .Logo__symbol {
    --width: 235px;
    --height: 102px;
    --font-size: 5.625rem;
    --font-weight: 900;
    --color: var(--fg);

    position: relative;
    inline-size: var(--width);
    block-size: var(--height);
    color: var(--color);

    &.guide {
      background: url('/assets/images/Logo.svg') no-repeat left top;
    }

    & span {
      position: absolute;
      color: inherit;
      font-size: var(--font-size);
      font-weight: var(--font-weight);
      line-height: 1;

      @media (prefers-reduced-motion: no-preference) {
        opacity: 0;
        animation: var(--animation-name) var(--speed) var(--ease-out-cubic) forwards;
      }

      &[data-consonant="ㄱ"] {
        left: 0px;
        top: -19px;
        animation-delay: calc(var(--delay-base) * 1);
      }

      &[data-consonant="ㅊ"] {
        left: -9px;
        bottom: -18px;
        animation-delay: calc(var(--delay-base) * 2);
      }

      &[data-consonant="ㅇ"] {
        left: 57px;
        bottom: -3px;
        animation-delay: calc(var(--delay-base) * 3);
      }

      &[data-consonant="두번째\:ㅇ"] {
        right: 51px;
        top: -20px;
        animation-delay: calc(var(--delay-base) * 4);
      }

      &[data-consonant="ㄴ"] {
        right: 35px;
        bottom: -25px;
        animation-delay: calc(var(--delay-base) * 5);
      }

      &[data-consonant="ㄷ"] {
        right: -12px;
        bottom: 1px;
        animation-delay: calc(var(--delay-base) * 6);
      }
    }

  }

  & figcaption {
    --animation-name: toBottomFadeIn;
    --delay: calc(var(--delay-base) * 7);

    user-select: auto;

    @media (prefers-reduced-motion: no-preference) {
      opacity: 0;
      animation: var(--animation-name) var(--speed) var(--ease-out-cubic) var(--delay) forwards;
    }
  }

}


.line {
  inline-size: 0;
  block-size: 240px;
  transform-origin: center top;

  &::before {
    content: '';
    display: block;
    block-size: 100%;
    border-right: 0.5px solid var(--stone-400, #b6bbbc);
    translate: -0.5px;
  }

  @media (prefers-reduced-motion: no-preference) {
    &::before {
      block-size: 0%;
      animation: slideBlockSize 800ms var(--ease-out-quint) 1.8s forwards;
    }
  }
}


.release {
  color: var(--fg);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;

  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation: fadeIn 600ms var(--ease-out-quint) 2.4s forwards;
  }
}