body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "SUIT Variable", Arial, Helvetica, sans-serif;

  background-color: var(--bg);
  color: var(--fg);

  @media (prefers-color-scheme: dark) {
    --bg: var(--black);
    --fg: var(--white);
  }
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 60px;

  & h1 {
    margin-block: 0;
  }
}

.line {
  inline-size: 0;
  block-size: 240px;
  transform-origin: center top;

  &::before {
    content: '';
    display: block;
    block-size: 100%;
    border-right: 0.5px solid var(--stone-400, #b6bbbc);
    translate: -0.5px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    &::before {
      block-size: 0%;
      animation: slideBlockSize 800ms var(--ease-out-quint) 1.8s forwards;
    }
  }
}

@keyframes slideBlockSize {
  0% {
    block-size: 0;
  }

  100% {
    block-size: 100%;
  }
}

.release {
  color: var(--fg);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
  
  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation: fadeIn 600ms var(--ease-out-quint) 2.4s forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}